@import url("https://purplecss.netlify.app/styles.css");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    width: 100vw;
    height: 75vh;
    padding: 5rem;
    padding-left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* HEADER */
.navigation {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    border: transparent;
    background-color: white;
    margin-bottom: 1rem;
}

#nav-simple {
    /* justify-content: space-evenly; */
    justify-content: space-between;
}

.navButtons {
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
    height: 100%;
    margin: 0.5rem;
    padding: 1rem 0.5rem;
}

.navButtons-active {
    color: #00855B;
    font-style: italic;
}

.navButtons:hover {
    background-color: #059669;
    color: white;
}

.nav-links {
    padding-top: 1.2rem;
}

#brand-name {
    font-size: 1.5em;
}

#nav-button-img {
    height: 1rem;
    width: 1rem;
}

/* PRODUCTS */
img {
    border-radius: 5px;
}

.product-page-container {
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 16rem auto;
    grid-template-areas: "sort product";
    grid-column-gap: 0.6rem;
}

.container-sort {
    grid-area: sort;
    padding: 0.5rem;
    margin-left: 1rem;
}

.product-container {
    grid-area: product;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.product-item {
    width: 30rem;
    height: auto;
    border: 1px solid #969696;
    border-radius: 2px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    position: relative;
}

.product-details {
    margin: 0.3rem 0.8rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 0.5rem;
}

#card-overlay {
    width: 100%;
    opacity: 0.2;
}

#card-overlay-text {
    padding-top: 6rem;
    font-size: 1.5em;
}

.delivery-badge {
    position: absolute;
    top: 10px;
    height: fit-content;
    background-color: #059669;
}

.product-details p {
    margin: 0;
}

#product-details-name {
    font-size: 1.3em;
}

#product-details-price {
    font-weight: bold;
    font-size: 1.2em;
}

.product-item > img {
    width: 200px;
    height: 200px;
    margin-right: 0.5rem;
}

.button-add {
    border-radius: 2px;
    margin-right: 1rem;
    text-align: center;
}

.button-add:hover {
    border: 2px solid black;
}

.button-primary {
    border: 2px solid transparent;
    background-color: #E65F5C;
}

.button-secondary {
    border: 2px solid #E65F5C;
    color: #E65F5C;
    width: fit-content;
}

#product-details-button-container {
    margin: 1rem 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

#button-wishlist {
    width: 7rem;
}

#filter-reset-button {
    border: 2px solid #969696;
    background-color: transparent;
    color: black;
    margin-top: 1rem;
    margin-left: 0.2rem;
}

#filter-reset-button:hover {
    border: 2px solid black;
}


/* WISHLIST */
.wishlist-container {
    width: 95vw;
    margin: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-flow: row wrap;

}

.wishlist-item {
    width: 25rem;
    height: auto;
    border: 1px solid black;
    border-radius: 2px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    position: relative;
}

.wishlist-item > img {
    width: 200px;
    height: 200px;
    margin-right: 1rem;
}

.wishlist-details {
    margin: 0.3rem 0.8rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wishlist-details p {
    margin: 0;
}

#wishlist-details-name {
    font-size: 1.5em;
}

#wishlist-details-price {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5rem;
}

/* CART */
.cart-page-container {
    padding: 1rem;
    margin: 1rem;
    width: 95vw;
    display: grid;
    grid-template-areas: "cart sidebar";
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 2rem;
}

.cart-container {
    grid-area: cart;
}

.cart-item {
    max-width: 50rem;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem;
    margin-left: 8rem;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.cart-details-container {
    display: flex;    
}

.cart-price-container {
    width: 10rem;
}

.cart-button-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cart-button-container p {
    margin: 0;
    padding-top: 0.3rem;
}

.cart-button-container button {
    width: 2rem;
    cursor: pointer;
}

.cart-button-container button:hover {
    border: 2px solid black;
}

.cart-item-details {
    margin-left: 2rem;
    width: 20rem;
}

.cart-item-details p{
    margin: 0;
    padding-top: 0.8rem;
}

#cart-item-name {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
}

#cart-item-price {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 2.5rem;
}

#cart-item-image {
    height: 150px;
    width: 150px;
}

.cart-sidebar {
    grid-area: sidebar;
    margin-top: 1rem;
}

.cart-sidebar {
    font-size: 1.4em;
}

#cart-sidebar-highlight {
    font-weight: bolder;
}

#checkout-button {
    width: 8em;
    height: auto;
    font-size: 0.8em;
}

#checkout-button:hover {
    border: 2px solid black;
    cursor: pointer;
}

/* HOMEPAGE */
.home-page-container {
    width: 95vw;
    margin: 1rem;
}

/* PRODUCT DETAILS */
.product-details-page-container {
    width: 95vw;
    height: 85vh;
    display: flex;
    justify-content: center;
}

.product-details-container {
    margin-top: 3rem;
    width: 70rem;
    display: flex;
    justify-content: space-evenly;
}

.product-details-container > img {
    height: 400px;
    width: 400px;
}

#product-details-price {
    font-size: 1.5em;
    font-weight: bold;
    float: right;
}

.product-details-button-container {
    margin-top: 2rem;
}

.product-details-button-container button {
    margin-bottom: 1rem;
    width: 8rem;
}